*, 
*::after,
*::before {
	border: 0px;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	transition: background 0.1s ease-in-out, border 0.1s ease-in-out, box-shadow 0.1s ease-in-out, color 0.1s ease-in-out, transform 0.1s ease-in-out, font-weight 0.1s ease-in-out, opacity 0.1s ease-in-out;

	user-select: none;
}	

*:focus, 
*:active {
	outline: none;
	text-decoration: none;
}

html, 
body {
	background: #FFFFFF;
	color: #000000;
	font-family: "Manrope", sans-serif;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

a, 
a:hover,
a:visited {
	color: inherit;
	text-decoration: none;
}

input, 
button,
textarea {
	background: transparent;
	color: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
}

ul li {
	list-style: none;
}

img {
	height: auto;
	width: 100%;
}

#app {
	height: 100%;
	width: 100%;
}